
@model List<Category>
<div class="flex-wrap-movielist mv-grid-fw"  >
				

                           @foreach(var item in Model){
						<div class="movie-item-style-2 movie-item-style-1">
							<a asp-action="Details" asp-controller="Category" asp-route-Id="@item.Id">
									@if(item.Image!=null){
				var base64 = Convert.ToBase64String(@item.Image);
      var imgsrc = string.Format("data:images/*;base64,{0}", base64);
							<img src="@imgsrc" alt="" style="width:120px; height:90px; object-fit:cover">
									}
						
							<div class="mv-item-infor">
								<h6><a asp-action="Details" asp-controller="Category" asp-route-id="@item.Id">@item.Name</a></h6>
								
							</div>
							</a>
						</div>	
						}	

						</div>



							