@using Microsoft.AspNetCore.Identity

@inject UserManager<User> usermanager
@{
	User user;
	if (@User.Identity.IsAuthenticated)
		user = await usermanager.GetUserAsync(User);
	else user = null;
}


	

<!DOCTYPE html>

<html lang="en" class="no-js">


<head>
	<!-- Basic need -->
	<title>Block Buster</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
    <link rel="icon" type="image/x-icon" href="~/images/icon.jpg">

	<!-- CSS files -->
	<link rel="stylesheet" href="~/css/plugins.css">
	<link rel="stylesheet" href="~/css/style.css">
	<script src="https://kit.fontawesome.com/a49558d437.js" crossorigin="anonymous"></script>

</head>
<body >
<!--preloading-->
<div id="preloader">
  <a asp-action="index" asp-controller="home" > <img class="logo" src="/images/logo1.png" alt="" width="119" height="58"></a> 
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->


@*<!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Login</h3>
        <form method="post" action="#">
        	<div class="row">
        		 <label for="username">
                    Username:
                    <input type="text" name="username" id="username" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                </label>
        	</div>
           
            <div class="row">
            	<label for="password">
                    Password:
                    <input type="password" name="password" id="password" placeholder="******" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
            <div class="row">
            	<div class="remember">
					<div>
						<input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
					</div>
            		<a href="#">Forget password ?</a>
            	</div>
            </div>
           <div class="row">
           	 <button type="submit">Login</button>
           </div>
        </form>
        <div class="row">
        	<p>Or via social</p>
            <div class="social-btn-2">
            	<a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
            	<a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
            </div>
        </div>
    </div>
</div>
<!--end of login form popup-->
<!--signup form popup-->
<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <form method="post" action="#">
            <div class="row">
                 <label for="username-2">
                    Username:
                    <input type="text" name="username" id="username-2" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                </label>
            </div>
           
            <div class="row">
                <label for="email-2">
                    your email:
                    <input type="password" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="password-2">
                    Password:
                    <input type="password" name="password" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="repassword-2">
                    re-type Password:
                    <input type="password" name="password" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
           <div class="row">
             <button type="submit">sign up</button>
           </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->
*@
<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a asp-action="index" asp-controller="home"><img class="logo" src="/images/logo1.png" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" asp-action="index" asp-controller="home">
							Home 
							</a>
							
						</li>
						
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" asp-action="index" asp-controller="movie">
							Movies 
							</a>
							
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" asp-action="index" asp-controller="cinema">
							Our Cinemas 
							</a>
						</li>
						@if(User.Identity.IsAuthenticated && User.IsInRole("Admin")){
							<li class="dropdown first">
								<a class="btn btn-default dropdown-toggle lv1" asp-action="Admin" asp-controller="Home">
								Admin DashBoard 
								</a>
							</li>
						}
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						@if(User.Identity.IsAuthenticated && user != null){
							
							<li><a asp-action="UpdateUserForm" asp-controller="UpdateProfile" asp-route-id="@user.Id">
								
									@if(@user.Image==null){
									
								<img src="~/images/placeholder.jpg" alt=""
								style="width:50px; height:50px; border-radius: 50%; object-fit:cover"/>
									}
									else
									{
										var base64 = Convert.ToBase64String(@user.Image);
										var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

										<img src="@imgSrc" alt=""
								style="width:50px; height:50px; border-radius: 50%; object-fit:cover"/>
									}
									
								</a></li>
							<li class="btn signupLink"><a asp-controller="Account" asp-action="LogOut">LOG Out</a></li>
						} else
						{
							<li class="loginLink"><a asp-controller="Account" asp-action="Login">LOG In</a></li>
							<li class="btn signupLink"><a asp-controller="Account" asp-action="SignUp">Sign Up</a></li>
						}
						
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    
	    <!-- top search form -->
	    <div class="container">
			
			 <form asp-action="movieSearch" asp-controller="Movie" method = "get">
                  <input type="search" value=@ViewData["searching"] name="Keyword" placeholder="Search for a movie, TV Show or celebrity that you are looking for..." style="width:100%; background-color:rgba(2, 13, 24, 0.2); font-weight:bold; margin-bottom: 10px;" >
                  <input type="submit" style="display: none" />
             </form>
	    </div>
	</div>
</header>
<!-- END | Header -->

@RenderBody()


<!--end of latest new v1 section-->
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a asp-action="index" asp-controller="home"><img class="logo" src="/images/logo1.png" alt=""></a>
				 <p>5th Avenue st, manhattan<br>
				New York, NY 10001</p>
				<p>Call us: <a href="#">(+01) 202 342 6789</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Resources</h4>
				<ul>
					<li><a href="#">About</a></li> 
					<li><a href="#">Blockbuster</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Forums</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Help Center</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<li><a href="#">Terms of Use</a></li> 
					<li><a href="#">Privacy Policy</a></li>	
					<li><a href="#">Security</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul>
					<li><a href="#">My Account</a></li> 
					<li><a href="#">Watchlist</a></li>	
					<li><a href="#">Collections</a></li>
					<li><a href="#">User Guide</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Newsletter</h4>
				<p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
				<form action="#">
					<input type="text" placeholder="Enter your email...">
				</form>
				<a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/plugins.js"></script>
<script src="~/js/plugins2.js"></script>
<script src="~/js/custom.js"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>


</html>
