@using MovieTickets.ViewModels
@model MovieDetailsViewModel
@{
Layout="~/Views/Shared/_UserLayout.cshtml";
	ViewData["Title"] = "Details Movie Page";
	
}
<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					@if(Model.Movie.Image!=null){
						var base64 = Convert.ToBase64String(@Model.Movie.Image);
      string imgsrc = string.Format("data:images/*;base64,{0}", base64);
					
					<img src="@imgsrc" alt="" >
					}
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							<div><a href="@Model.Movie.Trailer" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
						
						@if(Model.Movie.EndDate>DateTime.Now){
						<div class="btn-transform transform-vertical">
							
								
							<div><a  asp-action="Index" asp-controller="Payment" asp-route-id="@Model.Movie.Id" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
							<div><a asp-action="Index" asp-controller="Payment" asp-route-id="@Model.Movie.Id" class="item item-1 yellowbtn"> <i class="ion-card"></i> Buy ticket</a></div>
						
						</div>
						}
						
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">@Model.Movie.Name </h1>
					<div class="social-btn">
						@if(User.Identity.IsAuthenticated){
						@if(Model.carts.Count==0){
							<a onclick="getData()" id="fav" class="parent-btn " style="cursor:pointer;"><i class="ion-heart"></i> Add to Favorite</a>
							<a onclick="getData()" id="rev" class="parent-btns mystyle1" style="cursor:pointer; "><i class="ion-checkmark"></i> Added to Favorite</a>
						}
						else{
							<a onclick="getData()" id="rev" class="parent-btn mystyle1" style="cursor:pointer;"><i class="ion-heart"></i> Add to Favorite</a>
							<a onclick="getData()" id="fav" class="parent-btns " style="cursor:pointer; "><i class="ion-checkmark"></i> Added to Favorite</a>
						}
						}
						else{
						
							<a asp-action="Login" asp-controller="Account" id="fav" class="parent-btn " style="cursor:pointer;"><i class="ion-heart"></i> Add to Favorite</a>
							<a  id="rev" class="parent-btns mystyle1" style="cursor:pointer; "><i class="ion-checkmark"></i> Added to Favorite</a>
						}
					</div>
					
					
							<h3 style="color:white"><i class="fa-solid fa-circle-dollar"></i>Price: @Model.Movie.Price L.E</h3>
						
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span>@Model.Movie.Rate</span> /10<br>
							
							</p>
						</div>
						<div class="rate-star">
							<p>Rate This Movie:  </p>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star-outline"></i>
						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								
								<li><a href="#cast">  Director & Cast </a></li>
							                    
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>@Model.Movie.Description</p>
											<div class="title-hd-sm">
												<h4>Cinemas</h4>
								
											</div>
											<div class="mvsingle-item ov-item">
												@foreach(var item in Model.MoviesInCinemas){
													if(item.Cinema.Image!=null){
														var base1 = Convert.ToBase64String(@item.Cinema.Image);
														 string imgsrc1 = string.Format("data:images/*;base64,{0}", base1);
												<a class="img-lightbox"  data-fancybox-group="gallery" asp-action="cinema" asp-controller="Cinema" asp-route-id="@item.Cinema.Id" >
														
					<img src="@imgsrc1" alt="@item.Cinema.Name" style="width:120px; height:90px; object-fit:cover"></a>
					
													}}	
											</div>
										
						            	</div>
						            	
						            </div>
						        </div>
						        
						        <div id="cast" class="tab">
						        	<div class="row">
						            	
					       	 			<input id="id" asp-for="Movie.Id" type="hidden"/>
										<!-- //== -->
					       	 			<div class="title-hd-sm">
											<h4>Director</h4>
										</div>
										<div class="mvcast-item">											
											<div class="cast-it">
												<div class="cast-left" style="overflow: hidden; position: relative;">
													@if (@Model.Movie.Producer.Image != null)
													{
														var base1 = Convert.ToBase64String(@Model.Movie.Producer.Image);
														string imgsrc1 = string.Format("data:images/*;base64,{0}", base1);
														<img src="@imgsrc1" style="width:100px; height:100px; border-radius:50%; object-fit:cover"/>
													}
													<a asp-action="Details" asp-controller="Producer" asp-route-id="@Model.Movie.Producer.Id">@Model.Movie.Producer.Name</a>
												</div>
												
											</div>
										</div>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Casts</h4>
										</div>
										<div class="mvcast-item">	
											@foreach(var item in Model.MovieActors){
												
														 <div class="cast-it">
												<div class="cast-left" style="overflow: hidden; position: relative;">
													@{if(item.Actor.Image!=null){
														var base1 = Convert.ToBase64String(@item.Actor.Image);
														 string imgsrc1 = string.Format("data:images/*;base64,{0}", base1);
													<img src="@imgsrc1" style="width:80px; height:80px; border-radius:50%; object-fit:cover"/>
													}}
													<a asp-action="Details" asp-controller="Actor" asp-route-id="@item.Actor.Id">@item.Actor.Name</a>
												</div>
												
											</div>
												
											
											}
										</div>
										<!-- //== -->
<script>
	   function getData(){
		   var element = document.getElementById("fav");
		   var element1 = document.getElementById("rev");
		    element.classList.toggle("mystyle");
			 element1.classList.toggle("mystyle1");
        var id=$("#id").val();
        $.ajax(
            {
                url: "/Cart/Insert",//?stdid="+id,
                data:{"id":id},
                success: function(result){
                 
                // alert(result);
                //document.getElementById("div1").innerHTML=result;
                    //dom
                }
            }
         );
    }
	
	</script>
										</div>
						            </div>
					       	 	</div>
					       	 	
					       	 	
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	@section Scripts{
<!--JQuery PAckage -->
 
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}