
@model HomeViewModel
@{
	Layout="_UserLayout";
	ViewData["Title"] = "Home Page";
	int i = 0;
}

<div class="slider movie-items">
	<div class="container">
		<div class="row ipad-width">
			<div class="social-link">
				<p>Follow us: </p>
				<a href="#"><i class="ion-social-facebook"></i></a>
				<a href="#"><i class="ion-social-twitter"></i></a>
				<a href="#"><i class="ion-social-googleplus"></i></a>
				<a href="#"><i class="ion-social-youtube"></i></a>
			</div>

	    	<div  class="slick-multiItemSlider  ">
				@foreach(var item in Model.Movies){
	    		<div class="movie-item  col-sm-12">
	    			<a class="mv-img" asp-action="Details" asp-controller="Movie" asp-route-id="@item.Id" >
							@if(@item.Image != null){
												
						   var base64 = Convert.ToBase64String(@item.Image);
							var imgSrc = String.Format("data:image/gif;base64,{0}", base64);				
	    				<a asp-action="Details" asp-controller="Movie" asp-route-id="@item.Id"><img src="@imgSrc" alt="" style="width:290px; height:440px; object-fit:cover"></a>
							}
	    			</a>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="blue"><a >@item.Category.Name</a></span>
	    				</div>
	    				<h6><a asp-action="Details" asp-controller="Movie" asp-route-id="@item.Id">@item.Name</a></h6>
	    			
	    			</div>
	    		</div>
				}
			</div>
	    </div>
	</div>
</div>
<div class="movie-items">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8">
				<div class="title-hd">
					<h2>Categories</h2>
					<a asp-action="index" asp-controller="category" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="tabs">
					
				    <div class="tab-content">
				        <div id="tab1" class="tab active">
				            <div class="row">
				            	<div class="slick-multiItem">
									@foreach(var item in Model.Categories){
										<div class="slide-it">
											<div class="movie-item">
												<div class="mv-img">
													@if (item.Image != null)
													{
														  var base64 = Convert.ToBase64String(@item.Image);
															var imgSrc = String.Format("data:image/gif;base64,{0}", base64);				
														<img src="@imgSrc" alt=""  style="width:120px; height:90px; object-fit:cover">
													}
												</div> 
					            			<div class="hvr-inner">
					            				<a  asp-action ="Details" asp-controller="Category" asp-route-id="@item.Id"> Read more <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a asp-action ="Details" asp-controller="category" asp-route-id="@item.Id">@item.Name</a></h6>
					            				
					            			</div>
					            		</div>
				            		</div>
									}
									
				            	</div>
				            </div>
			       	 	</div>
				    </div>
				</div>
				<div class="title-hd">
					<h2>Our Cinemas</h2>
					<a class="viewall" asp-action ="Index" asp-controller="Cinema">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="tabs">
					
				    <div class="tab-content">
				      
				        <div id="tab22" class="tab active">
				           <div class="row">
				            	<div class="slick-multiItem">
									@foreach(var item in Model.Cinemas){
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
												@if (item.Image != null)
													{
														  var base64 = Convert.ToBase64String(@item.Image);
											var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
					            				<img src="@imgSrc" alt="" style="width:120px; height:90px; object-fit:cover">
													}
					            			</div>
					            			<div class="hvr-inner">
					            				<a  asp-action ="Cinema" asp-controller="Cinema" asp-route-id="@item.Id"> Read more <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a asp-action ="Cinema" asp-controller="Cinema" asp-route-id="@item.Id">@item.Name</a></h6>
					            			</div>
					            		</div>
				            		</div>
									}
									
			
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="ads">
						<img src="images/uploads/ads1.png" alt="" width="336" height="296">
					</div>
					<div class="celebrities">
						<h4 class="sb-title">Actors</h4>
						@foreach(var item in Model.Actors){
						<div class="celeb-item">
							<a asp-action ="Details" asp-controller="Actor" asp-route-id="@item.Id">
								@if (item.Image != null)
													{
														  var base64 = Convert.ToBase64String(@item.Image);
											var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
					            				<img src="@imgSrc" alt="" style="width:100px;height:100px; border-radius:50%;object-fit:cover">
													}</a>
							<div class="celeb-author">
								<h6><a asp-action ="Details" asp-controller="Actor" asp-route-id="@item.Id">@item.Name</a></h6>
								
							</div>
							</div>

							@if(i==5){
								break;
							}
							i++;
						}
						
						
						<a asp-action ="Index" asp-controller="Actor"  class="btn">See all Actors<i class="ion-ios-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
