@model List<Cinema>

@{
    Layout = "_AdminLayout";
}



@*Admin Section Start------------------------------------------------------*@

<div class="container mt-5">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
	  @foreach(var i in Model){
    <tr>
      <th scope="row">@i.Id</th>
      <td>@i.Name</td>
      <td>@i.Location</td>
      <td>@i.Description</td>
      <td><a asp-action="InsertForm"> <i class="fa fa-plus-circle"></i></a> <a asp-action="UpdateForm" asp-route-id = "@i.Id"> <i class="fa fa-edit"></i></a> <a asp-action="Delete" asp-route-id = "@i.Id"> <i class="ti-trash"></i></a> <a asp-action="CinemaDetailsAdmin" asp-route-id = "@i.Id"><i class="fa fa-arrow-circle-right"></i></a></td>

    </tr>
	  }
  </tbody>
</table>
@if(Model.Count == 0)
{
    <img src="/images/error/notfound.png" style="height:50vh; text-align:center; margin-left:30%;" />
}
</div>
@*Admin Section end -----------------------------------------*@