@model MovieCinemaViewModel

@{
    Layout="_UserLayout";
}
<div class="hero hero3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<!-- celebrity single section-->

<div class="page-single movie-single cebleb-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="mv-ceb">
					
						@if(Model.Cinema.Image!=null){
							var base64=	Convert.ToBase64String(@Model.Cinema.Image);
               string imgsrc= string.Format("data:images/*;base64,{0}", base64);
					<img src="@imgsrc" alt="" style="width:350px; height:500px; object-fit:cover">
					}
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct">
					<h1 class="bd-hd">@Model.Cinema.Name</h1>
					<p class="ceb-single" >@Model.Cinema.Description </p>
					<div class="social-link cebsingle-socail" hidden>
						<br />
						<br />
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overviewceb">Overview</a></li>
								                      
							</ul>
						    <div class="tab-content">
						        <div id="overviewceb" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            	
						            	
											<!-- movie cast -->
											<div class="mvcast-item">	
												@foreach(var item in Model.Movies){
												
												<div class="cast-it">
													<div class="cast-left cebleb-film">
														
															@if(item.Movie.Image!=null) {
																var base64=	Convert.ToBase64String(@item.Movie.Image);
                                              string  imgsrc= string.Format("data:images/*;base64,{0}", base64);
														<img src="@imgsrc"  style="width:120px; height:90px; object-fit:cover">
															}
														<div>
															<a asp-action="details" asp-controller="movie" asp-route-id="@item.Movie.Id">@item.Movie.Name </a>
														
														</div>
														
													</div>
													
												</div>
												}
											</div>
						            	</div>
						            
						            </div>

						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>